#txtKeySearch {
  background-image: url('searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#tabRecord {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 14px; /* Increase font-size */
  background-color: #FFFFFF;
}

#tabRecord th, #tabRecord td {
  text-align: left; /* Left-align text */
  padding: 2px; /* Add padding */
}

#tabRecord tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#tabRecord tr.header, #tabRecord tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #EFF9FF;
}

/*tab inside*/
#tabRecord_inside {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  /*border: 1px solid #ddd; /* Add a grey border */
  font-size: 14px; /* Increase font-size */
}

#tabRecord_inside th, #tabRecord_inside td {
  text-align: left; /* Left-align text */
  padding: 0px; /* Add padding */
}

#tabRecord_inside tr {
  /* Add a bottom border to all table rows 
  border-bottom: 1px solid #ddd;*/
}

#tabRecord_inside tr.header, #tabRecord_inside tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #EFF9FF;
}